@font-face {
    font-family: allura;
    src: url("../../fonts/allura.ttf");
}
@font-face {
    font-family: gothic;
    src: url("../../fonts/gothic.TTF");
}
::-webkit-scrollbar {
width: 10px;
}
::-webkit-scrollbar-thumb {
background: #444444;
border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
background: #cccccc;
}

body{
-webkit-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-tap-highlight-color: transparent;
overflow-x:hidden;
background-image: linear-gradient(45deg, #3266cc 1.76%, #ffffff 1.76%, #ffffff 25.29%, #f08113 25.29%, #f08113 26.47%, #fff 26.47%, #fff 50%, #3266cc 50%, #3266cc 51.76%, #ffffff 51.76%, #ffffff 75.29%, #f08113 75.29%, #f08113 76.47%, #fff 76.47%, #fff 100%);
background-size: 120.21px 120.21px;
text-align: center;
}

html{
scroll-behavior: smooth;
}

a{
text-decoration:none;
}

a:visited{
color:inherit
}

a:hover{
text-decoration:none;
}

.sertifikatTemplate{
    width: 60vw;
    height:42.34vw;
    position: relative;
    margin:2vw auto;
    background: url(dizajnk.png) no-repeat;
    background-size: 100% auto;
}

.sertifikatTemplateP{
    width: 60vw;
    height:42.34vw;
    position: relative;
    margin:2vw auto;
    background: url(dizajnp.png) no-repeat;
    background-size: 100% auto;
}

.ime{
    position: absolute;
    top:42%;
    left:0;
    width: 100%;
    text-align: center;
    font-size: 4vw;
    font-family: allura;
    color:#3266cc;
}

.broj{
    position: absolute;
    top:85.7%;
    left:12%;
    text-align: center;
    font-size: 1vw;
    font-family: gothic;
    color:white;
    font-weight: bold;
}

  .shadow:after{
    z-index:-1;
    content:"";
    position:absolute;
    -webkit-box-shadow:0 0 40px rgba(0,0,0,0.8);
    -moz-box-shadow: 0 0 40px rgba(0,0,0,0.8);
    box-shadow:0 0 40px rgba(0,0,0,0.8);
    height:20%;left:10%;right:10%;width:80%;bottom:0px;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
  }

  .desc{
    width: 60vw;
    height: auto;
    position: relative;
    margin:5vw auto;
    background-color: #3266cc;
    font-family: gothic;
    font-size: 1.5vw;
    color:white;
    padding: 2vw;
    text-align: left;
  }

  
.downarr{
	position:absolute;
	width:4vw;
	top:85%;
	left:50%;
    transform: translate(-2vw,0);
	-webkit-animation:arrow 2s infinite;
	animation:arrow 2s infinite;
}

@-webkit-keyframes arrow {
	0%{top:95%;}
	50%{top:100%;}
	100%{top:95%;}
}
@keyframes arrow {
	0%{top:95%;}
	50%{top:100%;}
	100%{top:95%;}
}

.displnone{
    display: none;
}

@media screen and (max-width:800px){
    .sertifikatTemplate{
        width:90vw;
        height: 63.51vw;
    }

    .ime{
        font-size: 4.4vw;
    }

    .broj{
        font-size: 1.1vw;
    }

    .desc{
        width:90vw;
        font-size: 3vw;
    }
    .downarr{
        display: none;
    }
}