.rtriangle{
	position:absolute;
	bottom:-10vh;
	left:-105vh;
	width:0; 
	height:0; 
	border-left: 95vh solid transparent;
	border-right: 95vh solid transparent;
	border-bottom: 95vh solid #F08113;
	transition:ease 0.3s;
	-webkit-animation:trianim1 ease 1s;
	-webkit-animation-fill-mode: forwards;
	animation:trianim1 ease 1s;
	animation-fill-mode: forwards;
}

.rtriangle2{
	position:absolute;
	bottom:-10vh;
	left:-115vh;
	width:0; 
	height:0; 
	border-left: 110vh solid transparent;
	border-right: 110vh solid transparent;
	border-bottom: 110vh solid #F6B676;
	transition:ease 0.3s;
	-webkit-animation:trianim2 ease 1s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-delay:0.05s;
	animation:trianim2 ease 1s;
	animation-fill-mode: forwards;
	animation-delay:0.05s;
}

@-webkit-keyframes trianim1{
	0%{bottom:-105vh;left:-210vh}
	80%{bottom:0vh;left:-95vh;}
	100%{bottom:-10vh;left:-105vh;}
}

@keyframes trianim1{
	0%{bottom:-105vh;left:-210vh}
	80%{bottom:0vh;left:-95vh;}
	100%{bottom:-10vh;left:-105vh;}
}


@-webkit-keyframes trianim2{
	0%{bottom:-105vh;left:-220vh}
	80%{bottom:0vh;left:-110vh;}
	100%{bottom:-10vh;left:-115vh;}
}

@keyframes trianim2{
	0%{bottom:-105vh;left:-220vh}
	80%{bottom:0vh;left:-110vh;}
	100%{bottom:-10vh;left:-115vh;}
}

.postsubtext2{
	width:100%;
	position:relative;
	margin-top:2vw;
	font-size:1.5vw;
	font-weight:normal;
	font-family:gothic;
	color:white;
}

.posttext2{
	width:50vw;
	position:relative;
	float:left;
	margin-top:5vw;
	margin-left:7vw;
	font-family:gothic;
	font-weight:bold;
	font-size:2.5vw;
	color:white;
}

.postimage{
	width:25vw;
	position:relative;
	float:left;
	margin-top:5vw;
	margin-left:10vw;
	border:solid white 10px;
}

.postimage:hover{
	border:solid #F08113 10px;
}

.home2{
	width:100%;
	position:relative;
	float:left;
	height:auto;
	max-height:fit-content;
	min-height:100vh;
	background:rgba(50, 102, 204,1);
}
.home3{
	width:100%;
	position:relative;
	float:left;
	height:auto;
	max-height:fit-content;
	min-height:100vh;
	background:white;
}

@media screen and (max-width:900px){
.postimage{
	width:80vw;
	margin-left:9vw;
	border:solid white 1vw;
}

.postimage:hover{
	border:solid #F08113 1vw;
}

.rtriangle{
	position:absolute;
	top:-10vh;
	left:-40vh;
	width:0; 
	height:0; 
	border-left: 40vh solid transparent;
	border-right: 40vh solid transparent;
	border-top: 40vh solid #F08113;
	border-bottom: 40vh solid transparent;
}

.rtriangle2{
	position:absolute;
	top:0vh;
	left:-50vh;
	width:0; 
	height:0; 
	border-left: 50vh solid transparent;
	border-right: 50vh solid transparent;
	border-top: 50vh solid #F6B676;
	border-bottom: 50vh solid transparent;
}

@-webkit-keyframes trianim1{
	0%{top:-105vh;left:-70vh}
	80%{top:-5vh;left:-40vh;}
	100%{top:-10vh;left:-45vh;}
}

@-webkit-keyframes trianim2{
	0%{top:-45vh;left:-90vh}
	80%{top:0vh;left:-50vh;}
	100%{top:-10vh;left:-50vh;}
}

@keyframes trianim1{
	0%{top:-105vh;left:-70vh}
	80%{top:-5vh;left:-40vh;}
	100%{top:-10vh;left:-45vh;}
}

@keyframes trianim2{
	0%{top:-45vh;left:-90vh}
	80%{top:0vh;left:-50vh;}
	100%{top:-10vh;left:-50vh;}
}

.postsubtext2{
	font-size:2vh;
}

.posttext2{
	width:90vw;
	margin-left:5vw;
	font-size:2.5vh;
}
}